/* Write your CSS here */
.match-card-item {
  background-color: #0f172a;
  width: 48%;
  border-radius: 10px;
  text-align: center;
  padding:10px;
  margin:10px
}
.match-card-competing-team {
  font-family: 'Bree Serif';
  color: white;
  font-size: 17px;
}
.macth-card-compitive-logo {
  height: 40px;
  width: 40px;
}
.match-card-result {
  font-family: 'Bree Serif';
  color: white;
  font-size: 10px;
}
.match-card-status-lost{
     font-family: 'Bree Serif';
  color:#e31a1a;
  font-size: 14px;
}
.match-card-status-won{
     font-family: 'Bree Serif';
  color:#18ed66;
  font-size: 14px;
}