/* Write your CSS here */
.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
}
.home-heading {
  font-family: 'Bree Serif';
  color: white;
  font-size: 36px;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-logo {
  height: 45px;
  width: 35px;
  margin-right: 10px;
}
.team-cardsList {
  list-style-type: none;
  padding-left: 0px;
}
.loader {
  text-align: center;
}
.home-teams-matches {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .home-teams-matches {
    width: 85%;
    max-width: 810px;
    margin: auto;
    padding: 20px;
  }
  .home-container {
    height: auto;
  }
}
